In [7]:
import pandas as pd
#import calendar

### DATOS DE ENTRADA:

ciudad = 'Sevilla'
mes = 'julio'
potencia = 3.5
c_punta = 188.39
c_llano = 233.13
c_valle = 355.02
consumo = [c_punta,c_llano,c_valle]

In [14]:

### DATOS HORARIOS POR PROVINCIA

# Con esta función sacamos un df con los datos de horas de luz de la provincia especificada.

def leer_datos_horarios(ciudad):    
    df = pd.read_csv("datos_provincias.csv")
    df.columns = ['Dia', 'Ciudad', 'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto',
       'septiembre', 'octubre', 'noviembre', 'diciembre']
    provincias = ['Almeria','Cadiz','Cordoba','Granada','Huelva','Jaen',
            'Malaga','Sevilla','Huesca','Zaragoza','Teruel','Oviedo',
            'Barcelona','Tarragona','Girona','Lleida','Coruna','Lugo',
            'Ourense','Pontevedra','Santander','Albacete','Ciudad',
            'Cuenca','Guadalajara','Toledo','Avila','Burgos','Leon','Salamanca',
            'Segovia','Valladolid','Zamora','Alicante','Valencia','Castellon',
            'Palma','Palmas','Santa','Logrono','Bilbao','Donostia','Vitoria',
            'Caceres','Badajoz','Madrid','Pamplona','Murcia']
    nuevo_df = df[df['Ciudad'] == ciudad]
    return nuevo_df

hola = leer_datos_horarios('Sevilla')
hola

,Dia,Ciudad,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
217,1,Sevilla,9.633333,10.333333,11.383333,12.633333,13.750000,14.566667,14.700000,14.033333,12.950000,11.783333,10.616667,9.766667
218,2,Sevilla,9.650000,10.366667,11.433333,12.683333,13.800000,14.600000,14.683333,14.016667,12.916667,11.733333,10.566667,9.750000
219,3,Sevilla,9.650000,10.400000,11.466667,12.716667,13.833333,14.616667,14.666667,13.983333,12.883333,11.716667,10.533333,9.733333
220,4,Sevilla,9.666667,10.433333,11.516667,12.750000,13.866667,14.616667,14.650000,13.950000,12.850000,11.666667,10.500000,9.716667
221,5,Sevilla,9.683333,10.466667,11.550000,12.800000,13.900000,14.633333,14.650000,13.916667,12.800000,11.633333,10.466667,9.716667
222,6,Sevilla,9.700000,10.500000,11.583333,12.816667,13.933333,14.650000,14.633333,13.883333,12.766667,11.583333,10.450000,9.700000
223,7,Sevilla,9.716667,10.533333,11.633333,12.866667,13.950000,14.666667,14.633333,13.850000,12.716667,11.550000,10.416667,9.683333
224,8,Sevilla,9.716667,10.566667,11.666667,12.900000,13.983333,14.683333,14.600000,13.816667,12.700000,11.500000,10.383333,9.666667
225,9,Sevilla,9.733333,10.600000,11.716667,12.950000,14.016667,14.683333,14.600000,13.800000,12.650000,11.466667,10.350000,9.650000
226,10,Sevilla,9.766667,10.633333,11.750000,12.983333,14.050000,14.700000,14.583333,13.766667,12.616667,11.416667,10.316667,9.633333
227,11,Sevilla,9.783333,10.683333,11.800000,13.033333,14.083333,14.700000,14.550000,13.733333,12.566667,11.383333,10.266667,9.633333
228,12,Sevilla,9.800000,10.716667,11.833333,13.066667,14.116667,14.700000,14.550000,13.683333,12.533333,11.350000,10.233333,9.633333
229,13,Sevilla,9.816667,10.750000,11.883333,13.100000,14.150000,14.716667,14.516667,13.650000,12.483333,11.316667,10.216667,9.616667
230,14,Sevilla,9.833333,10.783333,11.916667,13.150000,14.166667,14.716667,14.500000,13.616667,12.466667,11.283333,10.183333,9.600000
231,15,Sevilla,9.866667,10.816667,11.966667,13.183333,14.183333,14.733333,14.483333,13.600000,12.416667,11.233333,10.150000,9.600000
232,16,Sevilla,9.883333,10.850000,12.000000,13.216667,14.216667,14.733333,14.466667,13.550000,12.383333,11.200000,10.116667,9.600000
233,17,Sevilla,9.900000,10.900000,12.033333,13.250000,14.250000,14.733333,14.433333,13.516667,12.333333,11.166667,10.100000,9.583333
234,18,Sevilla,9.933333,10.933333,12.066667,13.283333,14.283333,14.750000,14.416667,13.483333,12.283333,11.116667,10.066667,9.583333
235,19,Sevilla,9.950000,10.966667,12.116667,13.333333,14.300000,14.750000,14.400000,13.450000,12.250000,11.083333,10.050000,9.583333
236,20,Sevilla,10.000000,11.000000,12.150000,13.366667,14.333333,14.750000,14.366667,13.400000,12.216667,11.050000,10.016667,9.583333
237,21,Sevilla,10.016667,11.033333,12.200000,13.400000,14.350000,14.733333,14.350000,13.366667,12.183333,11.000000,10.000000,9.583333
238,22,Sevilla,10.050000,11.083333,12.233333,13.450000,14.366667,14.733333,14.316667,13.333333,12.133333,10.966667,9.966667,9.583333
239,23,Sevilla,10.066667,11.116667,12.283333,13.483333,14.400000,14.750000,14.300000,13.300000,12.100000,10.933333,9.950000,9.583333
240,24,Sevilla,10.100000,11.150000,12.316667,13.516667,14.433333,14.750000,14.266667,13.266667,12.050000,10.900000,9.916667,9.583333
241,25,Sevilla,10.116667,11.200000,12.366667,13.550000,14.433333,14.733333,14.250000,13.216667,12.016667,10.850000,9.900000,9.600000
242,26,Sevilla,10.150000,11.233333,12.400000,13.600000,14.466667,14.733333,14.216667,13.183333,11.983333,10.816667,9.866667,9.600000
243,27,Sevilla,10.183333,11.266667,12.433333,13.616667,14.483333,14.733333,14.183333,13.150000,11.950000,10.783333,9.850000,9.600000
244,28,Sevilla,10.200000,11.316667,12.466667,13.650000,14.516667,14.716667,14.166667,13.116667,11.900000,10.750000,9.833333,9.616667
245,29,Sevilla,10.233333,11.350000,12.516667,13.683333,14.516667,14.716667,14.133333,13.083333,11.866667,10.716667,9.816667,9.616667
246,30,Sevilla,10.266667,0.000000,12.550000,13.716667,14.550000,14.700000,14.100000,13.033333,11.816667,10.683333,9.783333,9.633333
247,31,Sevilla,10.283333,0.000000,12.600000,0.000000,14.566667,0.000000,14.066667,13.000000,0.000000,10.650000,0.000000,9.633333

In [17]:


## CÁLCULO PLACAS SOLARES

# Lo primero es prorratear los datos de consumo valle para que no distinga laborables de fines de semana:

def prorrateo_consumo(mesecito,consumito):
    
    # Indicamos el cambio a datos numéricos
    #year = 2024
    #mes = {
    #'Ene': 1,
    #'Feb': 2,
    #'Mar': 3,
    #'Apr': 4,
    #'May': 5,
    #'Jun': 6,
    #'Jul': 7,
    #'Aug': 8,
    #'Sep': 9,
    #'Oct': 10,
    #'Nov': 11,
    #'Dec': 12}
    #month = mes[mesecito]

    # Definimos los períodos para un día laborable
    discriminacion = {
        "00": 'valle', "01": 'valle', "02": 'valle', "03": 'valle', 
        "04": 'valle', "05": 'valle', "06": 'valle', "07": 'valle',
        "08": 'llano', "09": 'llano', "10": 'punta', "11": 'punta',
        "12": 'punta', "13": 'punta', "14": 'llano', "15": 'llano',
        "16": 'llano', "17": 'llano', "18": 'punta', "19": 'punta',
        "20": 'punta', "21": 'punta', "22": 'llano', "23": 'llano',
    }

    # Calcula horas diarias por tipo para días laborables
    horas_llano_lab = sum(1 for h in discriminacion if discriminacion[h] == 'llano')
    horas_punta_lab = sum(1 for h in discriminacion if discriminacion[h] == 'punta')

    # Obtén el número total de días en el mes
    dias = {
    'enero': 31,
    'febrero': 29,
    'marzo': 31,
    'abril': 30,
    'mayo': 31,
    'junio': 30,
    'julio': 31,
    'agosto': 31,
    'septiembre': 30,
    'octubre': 31,
    'noviembre': 30,
    'diciembre': 31}
    
    num_dias_mes = dias[mesecito]

    # Contar cuántos sábados y domingos hay en ese mes
    dias_finde = 8
    #dias_finde = sum(1 for d in range(1, num_dias_mes + 1) if calendar.weekday(year, month, d) >= 5)
    dias_laborables = num_dias_mes - dias_finde
    
    # Calcular horas totales para ese mes
    horas_llano_totales = horas_llano_lab * dias_laborables
    horas_punta_totales = horas_punta_lab * dias_laborables
    
    #Calculamos los consumos prorrateados, obviando la diferencia de laborable o no
    c_p = consumito[0]*8/horas_punta_totales
    c_l = consumito[1]*8/horas_llano_totales
    c_v = (sum(consumito) - c_p*num_dias_mes - c_l*num_dias_mes)/num_dias_mes

    c_totales = [c_p*num_dias_mes,c_l*num_dias_mes,c_v*num_dias_mes]
    return c_totales


# Calculamos el numero de placas estimado:

# Prorrateamos el consumo para el mes
consumo_total = prorrateo_consumo(mes,consumo)

# Sacamos los datos de la ciudad especificada
df_ciudad = leer_datos_horarios(ciudad)

factor_solar = 0.8 # Durante el ocaso y el amanecer, las horas de sol no son tan efectivas, por lo que
                # se introduce este factor para sere conservativos en el cálculo
pot_placa = 0.455 #kWp
dias = {
'enero': 31,
'febrero': 29,
'marzo': 31,
'abril': 30,
'mayo': 31,
'junio': 30,
'julio': 31,
'agosto': 31,
'septiembre': 30,
'octubre': 31,
'noviembre': 30,
'diciembre': 31}

# Crear el diccionario para almacenar las sumas mensuales
meses = df_ciudad.columns.difference(['Dia', 'Ciudad'])
horas_sol = {mes: df_ciudad[mes].sum()*factor_solar for mes in meses}
porcen_sol = {mes: round(df_ciudad[mes].sum()*factor_solar/(dias[mes]*24),2) for mes in meses}
# Aproximadamente entre el 40% y el 50% de luz al día. 

# El consumo anual de energía por parte del consumidor debe ser igual o mayor 
# al 80 %  de la energía anual generada por la instalación.

# c_total >= e_generada *0.8

c_total = sum(consumo_total)
n_placas = int(c_total / (pot_placa * 0.7 * horas_sol[mes] * 0.8))
if n_placas <2:
    print('''Tu consumo es muy bajo para poder beneficiarte de una instalación de placas solares.
        ¡Gracias por ser un consumidor eficiente!''')
else:
    print(f'Con los datos de consumo suministrados, ¡Te podría interesar instalar hasta {n_placas} placas!')
    print('''Ten en cuenta que la mejor estimación del número de placas se realiza con el consumo en verano, 
        además de ser donde te beneficiarás del mayor ahorro.''')

Con los datos de consumo suministrados, ¡Te podría interesar instalar hasta 8 placas!
Ten en cuenta que la mejor estimación del número de placas se realiza con el consumo en verano,
        además de ser donde te beneficiarás del mayor ahorro.

In [18]:
## AHORRO PLACAS

e_generada = n_placas * pot_placa * 0.7 * horas_sol[mes]

# La energia generada no afecta al periodo valle y sólo afecta al 50% del periodo llano:

datos_consumo= {'Punta' : max(0,consumo_total[0]-e_generada*2/3),
                'Llano' : max(0,consumo_total[1]-e_generada*1/3),
                'Valle' : consumo_total[2], 
                'Excedentes': min(0,consumo_total[0]-e_generada*2/3) + min(0,consumo_total[1]-e_generada*1/3),
                'Dias': dias[mes],
                'Potencia': potencia }

## TARIFA SOLAR

# Una vez conocidos los consumos con las placas, obtenemos el precio con las tarifas solares:

df_solar = pd.read_csv("tarifas_solar.csv")

datos_consumo

def calcular_mejor_tarifa(consumo):
    # Parámetros
        
    iva = 1.21
    bono_social = 0.006282
    impuesto = 3.8 / 100
    equipos = 0.82

    df = pd.read_csv("tarifas_solar.csv")
    # Crear un DataFrame con los resultados
    resultado_df = df[['Empresa', 'Tarifa']].copy()
    
    consumo_total = (df['Punta'] * consumo['Punta'] +
               df['Llano'] * consumo['Llano'] +
               df['Valle'] * consumo['Valle'])
    resultado_df['Consumo'] = consumo_total
    excedentes_total =  df['Excedentes'] * consumo['Excedentes']
    resultado_df['Excedentes'] = excedentes_total
    potencia_total = (df['P1']+df['P3'])*consumo['Potencia']*consumo['Dias']
    resultado_df['Potencia'] = potencia_total
    precio_bat = ((potencia_total + bono_social * consumo['Dias'] + consumo_total) * (1 + impuesto) +
                  equipos + df["Bateria"] * consumo['Dias']/30) * iva + excedentes_total
    resultado_df['Precio con Bateria'] = precio_bat
    consumo_total_nobat = (consumo_total + excedentes_total).clip(lower=0)
    precio_nobat = ((potencia_total + bono_social * consumo['Dias'] + consumo_total_nobat) * (1 + impuesto) +
                  equipos) * iva
    resultado_df['Precio sin Bateria'] = precio_nobat

    # Crear columna precio con las condiciones reales de cada compañía

    resultado_df['Precio'] = resultado_df.apply(
    lambda row: row['Precio sin Bateria'] if row['Empresa'] == 'Naturgy' else row['Precio con Bateria'], axis=1)
    
    df_sorted = resultado_df.sort_values(by='Precio', ascending=True)
    mejor_tarifa = df_sorted.iloc[0]

    print("\nComparativa de tarifas:")
    for _, tarifa in df_sorted.iterrows():  # Usamos iterrows para iterar sobre las filas
        print(f"{tarifa['Empresa']} - {tarifa['Tarifa']}: {tarifa['Precio']:.2f} €")

    print(f"\nLa tarifa más económica es la de {mejor_tarifa['Empresa']} - {mejor_tarifa['Tarifa']} con un precio de {mejor_tarifa['Precio']:.2f} €.")

    return 

# Llamar a la función
tarifas = calcular_mejor_tarifa(datos_consumo)
tarifas

Comparativa de tarifas:
Naturgy - Solar: 20.00 €
Octopus - Octopus Solar: 20.41 €
Repsol - Tarifa Placa Solar: 32.12 €

La tarifa más económica es la de Naturgy - Solar con un precio de 20.00 €.